.App {
  text-align: center;
}
/*
.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
}
*/

.App-logo{
  
  width: 1200px;
}

.App-header {
  position: relative;
  text-align: center;
  color: white;
}

.App-header img{
  width: 100%;
  height: auto;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5.0em;
}

.centered img{
  width: 100%;
  height: auto;
}

.bordered {
  position: absolute;
  top: 45%;
  left: 38%;
  transform: translate(-50%, -50%);
}

.bordered img{
  width: 140%;
  height: auto;
  float: left;
  animation: App-logo-spin infinite 10s linear;
}

.About{
  position: absolute;
  width: 100%;
  font-size: large;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
